!.gitkeep
*.o
*.elf
*.iso
/bochslog.txt
*.out
/iso/modules/rd
/hda.img
/hda.tar
/ustar_image
*.a
/sysroot/usr/include/*.h
/sysroot/usr/include/sys/*.h
/dex
/init
/pwd
/ls
/read
/xed
/pie
/lua
/c4
/doomgeneric
/nanoc
/img
/deps
/mnt/*
